body {
    /* background-image: url('bahan/background.jpg'); */
    /* background-color: aliceblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
#undangan { 
    display: none; margin-top: 20px; 
    }

#undangan.show { 
    display: block; 
    }

input, button { 
    padding: 8px 12px; font-size: 1rem; 
    }
button { 
    cursor: pointer; 
    }

img {
    margin-left: 45px;
    width: 300px;
    height: auto; /* biar proporsional, nggak gepeng */
  }

a {
    text-decoration: none;      /* hilangkan garis bawah default */
}


.buka {
    background-color: #273F4F;
    padding: 5px 10px;          /* biar ada ruang di dalam border */
    border-radius: 5px;         /* opsional: biar agak membulat */
}

.buka {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  .buka:hover {
    background: linear-gradient(to bottom, #1c2c36, #0f1a20);
  }
  

.border {
    background-image: url(bahan/background\ \(1\).jpg);
    /* background-color: rgb(15, 130, 138); */
    color: black;
    padding: 20px;
    height: 100vh;
    width: 100vw;

    border-radius: 10px;
}

.Masukkan {
    border-radius: 5px;
    margin-left: 85px;
}

.buka{
    margin-left: 170px;
    margin-top: 8px;
}

.text {
    text-align: center;
}

.bungkus {
    position: relative;
    width: 400px;
    height: 120px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
}
